{% extends "base.html" %}
{% load construct_extras %}
{% load imagefit %} 

{% block title %} News {% endblock %}

{% block subheader %} Новости компании 	{% endblock %}

{% block content %}


    <div class="clearfix"></div>
    <div class="row">
        <div class="span10 offset1">
            <ul class="blog-list">
            	{% for news in latest_news_list %}
            	<li>
            		<div class="info">
            			<div class="date-box">
            				<span class="day">{{news.created_at.day}}</span>
            				<span class="month">{{ news.created_at.month|month }}</span>
            			</div>
            		</div>
            		<div class="preview">
            		<!--news.image.url-->	<img src="{{ news.image.url|resize:'640x480' }}" style="max-width: 480px; max-height: 640px" data-original="{{ news.image.url|resize:'320x240' }}" alt="" style="display: inline;">
            			<a href="news/{{ news.id }}">
            				<h3 class="blog-title">{{ news.title }}</h3>
            			</a>
            			{{ news.text|safe }}
            		</div>
            		<div class="meta-info">От <a href="#">Admin</a><!--span>|</span><a href="#">События</a>, <a href="#">События</a><span>|</span><a href="#">2 Комм.</a><span>|</span--> </div>
            	</li>
            	{% endfor %}
            </ul>
                    <div class="pagination text-center ">
                        <ul>
                            <li><a href="#">Пред.</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">След.</a></li>
                        </ul>
                    </div>
        </div>
        <!--div id="sidebar" class="span4">
            <div class="widget latest_news">
                <h4 class="title">Последние новости</h4>
                <ul class="bloglist-small">
                    {% for news in latest_news_list %}
                    <li>
                        <div class="date-box">
                            <span class="day">{{news.created_at.day}}</span>
                            <span class="month">{{ news.created_at.month|month }}</span>
                        </div>
                        <div class="txt">
                            <h5><a href="/news/{{news.id}}">{{ news.title }}</a></h5>
                            {{ news.text|striptags }}
                        </div>
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div-->
    </div>


{% endblock %}
