{% extends "base.html" %}
{% load construct_extras %}

{% block title %} Структура інституту {% endblock %}

{% block subheader %} Структура інституту {% endblock %}

{% block content %}


<table>
    {% for person in people %}
    <tr>
        <td style="height: 300px; width: 200px" rawspan="2"><img src="{{ person.image.url }}"></td>
        <td>
            <h3 align="center">{{ person.name }}</h3>
            <div align="center">{{ person.description|safe }}</div>
	    <!--p>TEST2</p-->
        </td>


    </tr>



    {% endfor %}
</table>

{% endblock %}
